<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Angular Derectives</title>
    <meta name="viewport" content="width=device-width">
    <script src="../angular.min.js"></script>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>

<div>
    <label>Name:</label> <input type="text" ng-model="UserName">
</div>

<div>
    <input name="show" type="checkbox" ng-model="ToggleShow"> <label>Show?</label>
    <input name="hide" type="checkbox" ng-model="ToggleHide"> <label>Hide?</label>
</div>

<div ng-show="ToggleShow">
    Hello, {{UserName || "world"}}
</div>

<div ng-hide="ToggleHide">
    Hello, {{UserName || "world"}}
</div>

<script type="application/javascript">


</script>
</body>
</html>